.sign-button-panel {
  max-width: 720px;
  margin: 2em auto;
}

.sign-button-panel > h3 {
  width: 100%;
  text-align: center;
}

.sign-button-panel > p {
  width: 100%;
  padding: 2em 1em;
  text-align: center;
}

.sign-button {
  padding: 0.5em 2em;
}

.sign-button > button {
  width: 100%;
}

.sign-button--last {
  margin-top: 1em;
}

