@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

* + * {
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

